# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Logs
logs/*.log

# IDE
.vscode/
.idea/

# Environment
.env
